body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(img/login-back.jpg);
}
iframe{
    width: 20%;
    margin: 20px auto;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background: url('hero.jpg') no-repeat center center/cover;
    color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.btn {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.content-section {
    padding: 3rem 1.5rem;
    background-color: #fff;
    margin: 2rem 0;
    text-align: center;
}

#about p, #contact p {
    max-width: 600px;
    margin: 0 auto;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
