<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/blog-add.css}">
</head>

<body>
	<header>
	    <nav>
	        <div class="container">
	            <div class="brand">
	                <span th:text="${adminName}"></span>
	            </div>
	            <div class="nav-links">
	                <a th:href="@{/list}">ブロック一覧</a>
	                <a th:href="@{/blog-add}">ブログの追加</a>
	                <a th:href="@{/logout}">ログアウト</a>
	            </div>
	        </div>
	    </nav>
	</header>
    <div class="container2">
        <h2>新しいブログを作成</h2>
        <form th:action="@{/blog/add/process}" method="post" enctype="multipart/form-data">
            <div class="form">
                <label for="title">タイトル</label>
                <input type="text" id="title" name="title" required>
            </div>
            
            <div>
                <label for="date">日付</label>
                <input type="date" id="date" name="date" required placeholder="年/月/日">
            </div>
            <div>
                <label for="cate">カテゴリ</label>
                <input type="text" name="cate" id="cate" required   >
            </div>
            <div>
                <label for="img">画像</label>
                <input type="file" name="img" id="img" accept="image/*">
            </div>
            <div id="textarea">
                <label for="content">内容</label>
                <textarea id="content" name="content" rows="10" required></textarea>
            </div>
            <button type="submit">投稿する</button>
            <button>戻る</button>
        </form>
    </div>
</body>

</html>