<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/register.css}">
</head>

<body>
    <section class="form-contents">
        <form th:action="@{/admin/register/process}" method="post" class="register-form">
            <h2 class="title">Register</h2>
            <div>
                <input type="text" class="UserName" name="adminName" placeholder="adminName" required>
            </div>
            <div>
                <input type="text" class="UserEmail" name="adminEmail" placeholder="adminEmail" required>
            </div>
            <div>
                <input type="password" class="password" name="password" placeholder="Password" required>
            </div>
            <button class="btn" type="submit">Register</button>
        </form>
    </section>
</body>

</html>