body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

.container {
    max-width: 600px;
    margin: auto;
    color: #333;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
textarea,
select {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="file"],
input[type="date"] {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}
